body {
    background-color: darkgreen;
}

#drawn-cards {
    height: 360px;
    width: 240px;
    font-size: 30px;
}

#title {
    text-align: center;
}

#game-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#user-input {
    text-align: center;
}