body {
    background-color: darkgreen;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: xxx-large;
    background-color: #191955;
    margin: 0;
    padding-bottom: 10px;
}

h1 > span {
    padding: 0px 10px;
}

h1, p {
    color: white;
}

h2, p {
    font-size: x-large;
}

img {
    height: 360px;
    width: 240px;
    padding: 30px;
}

button {
    margin: 10px 20px 20px;
    height: 50px;
    width: 75px;
    border-radius: 10%;
    font-size: large;
}

button:hover {
    background-color: #f70132;
    color: white;
}

footer {
    font-size: medium;
    text-align: center;
    background-color: #191955;
    height: 40px;
    padding-bottom: 20px;
}

footer > p {
    font-size: large;
}

a {
    color: #f70132;
}

#black-suit {
    color: black;
}

#red-suit {
    color: red;
}

#user-area {
    text-align: center;
}

#drawn-cards {
    height: 340px;
    width: 210px;
    font-size: 26px;
    background-color: white;
    border-radius: 5%;
    padding: 10px;
    margin: 30px;
}

#game-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info {
    text-align: center;
}

@media screen and (min-width: 768px) {

    #game-area {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}