body {
    background-color: darkgreen;
}

h1 {
    text-align: center;
}

h1, p {
    color: white;
}

img {
    height: 360px;
    width: 240px;
}

button {
    margin: 10px 5px 20px;
}

#drawn-cards {
    height: 340px;
    width: 210px;
    font-size: 26px;
    background-color: white;
    border-radius: 5%;
    padding: 10px;
}

#game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {

    #game-area {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}